.newJobButtonWrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.createNewJobButton {
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 10px;
	background-color: var(--neutral-medium);
	color: var(--background-light);
	box-shadow: none;
}

.createNewJobButton:hover {
	background-color: #4e555a;
	color: var(--background-light);
	transition: none;
	box-shadow: none;
}

.jobListContainer {
	max-width: 90vw;
	margin: 20px auto;
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
	justify-items: center;
	overflow-y: auto;
	height: 85dvh;
}

.createJobModalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.createJobModal {
	background-color: var(--neutral-light);
	padding: 20px;
	border-radius: 15px;
	min-width: 370px;
	max-width: 90vw;
	max-height: 400px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	gap: 16px;
	overflow: scroll;
}

.createJobTitle {
	text-align: center;
	font-size: 32px;
	margin-bottom: 16px;
	font-weight: 600;
}

.createJobForm {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.formField {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.jobNameInput,
.jobDescriptionInput {
	padding: 8px 12px;
	border-radius: 6px;
	border: 1px solid var(--neutral-dark);
	font-size: 14px;
	outline: none;
}

.jobDescriptionInput {
	resize: vertical;
	min-height: 80px;
}

.competencyListWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 130px;
	gap: 5px;
}

.competencyCheck {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
}

.modalButtonWrapper {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 8px;
}

.modalButtonWrapper button {
	padding: 8px 16px;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	transition: background-color 0.2s ease;
}

.modalButtonWrapper button[type="submit"] {
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	cursor: pointer;
	color: var(--neutral-dark);
	background-color: var(--neutral-light);
	border: none;
	box-shadow: 0px 2px 0px #0000004f;
}

.modalButtonWrapper button[type="submit"]:hover {
	color: var(--neutral-dark);
	background-color: var(--neutral-light);
	box-shadow: 0px 2px 0px #007bff;
	transition-property: "box-shadow";
	transition-duration: 1s;
}

.modalButtonWrapper button[type="button"] {
	background-color: var(--neutral-medium);
	color: var(--background-light);
}

.modalButtonWrapper button[type="button"]:hover {
	background-color: #4e555a;
	box-shadow: none;
	border: none;
}
